@import "compass";
@import "compass/reset";
@import "color_theme";

$container_width: 100%;

body {
  @include theme_blue_color;
  @include theme_blue_body;
}

#header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  #header-container {
    height: 34px;
    @include theme_blue_special_container;
  }
  #header {
    width: $container_width;
    margin: 0 auto;
    position: relative;
    #search-types {
      margin-left: 10px;
      display: inline;
    }
    .search-query {
      @include border-radius(4px);
    }
    .navbar-inverse .navbar-inner {
      background: transparent;
      border: none;
    }
  }
}

#container {
  margin: 0 auto;
  overflow: auto;
  padding-top: 35px;
  padding-bottom: 25px;
  #history {
    float: left;
    width: 30%;
    @include theme_blue_body;
    @include theme_blue_sidebar_color;
    #history-title {
      @include theme_blue_sidebar_hover;
      height: 23px;
      padding: 4px;
    }
    #history-list {
      li {
        float: left;
      }
      .history {
        @include theme_blue_sidebar_border;
        padding: 9px 4px;
        @include clearfix;
        &:hover {
          @include theme_blue_sidebar_hover;
          .btn-delete {
            visibility: visible;
          }
        }
        .history-buttons {
          float: right;
        }
        .btn-delete {
          visibility: hidden;
        }
      }
    }
  }
  #search-results {
    float: right;
    width: 70%;
    @include theme_blue_results_background;
  }
}

#footer-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  #footer-wrap {
    height: 24px;
    @include theme_blue_special_container;
  }
  #footer {
    width: $container_width;
    margin: 0 auto;
    position: relative;
  }
}
