<ul id="tab" class="nav nav-tabs">
    <li class="active" data-toggle="tab" data-service="twitter">
		<a href="#twitter-list">Twitter</a>
    </li>
	<li class="" data-toggle="tab" data-service="hotpepper">
		<a href="#hotpepper-list">Hotpepper</a>
	</li>
</ul>
<div id="tab-content" class="tab-content">
    <div id="twitter-list" class="tab-pane active" data-service="twitter"></div>
    <div id="hotpepper-list" class="tab-pane" data-service="hotpepper"></div>
</div>
